// Custom styles 

body {
    font-family: "Raleway", sans-serif;
}

.navbar {
    font-weight: 200;
    .navbar-brand span {
        font-weight: 200;
    }
    .nav-item {
        font-size: 1.4rem;
    }
    .nav-link:hover {
        transition: border 0.3s;
        border-bottom: 1px solid whitesmoke;
    }
}

#showcase {
    background: url("../IMG/Gallery/Social6.jpg") bottom center / cover no-repeat ;
    min-height: 750px;
    h1 {
        font-family:"Qestrial", sans-serif ;
        line-height: 1;
    }
}






@media(max-width: 768px) {
    .navbar {
        background: black;
        .nav-link:hover {
            border-bottom: none;
        }
    }
}